# =========================
# Dependências
# =========================
/vendor/

# =========================
# Composer
# =========================
composer.phar

# =========================
# PHPUnit
# =========================
.phpunit.result.cache

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# Arquivos temporários
# =========================
*.swp
*.swo
*~

# =========================
# Ambiente
# =========================
.env
.env.local